{
  "presets": ["env", "flow-vue"],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
