{
  "presets": [["env", { "exclude": ["transform-es2015-classes"] }]],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
